docker {
  enabled = true
}

wave {
  enabled = true
  build.repository = '924133642166.dkr.ecr.eu-west-2.amazonaws.com/wave/test'
}

tower {
  accessToken = "$TOWER_ACCESS_TOKEN"
}

process {
  withName: 'generate_data' {
    container = 'alpine'
  }
  withName: 'quality_control' {
    container = 'alpine'
  }
  withName: 'compute_stats' {
    container = 'alpine'
  }
  withName: 'aggregate_results' {
    container = 'alpine'
  }
}

